#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9 {
    display: none;
}

body {
    background-color: rgb(177, 6, 105);
    font-family: "Audiowide", sans-serif;
}

h3 {
    font-family: "Audiowide", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    text-align: justify;
}

#texto-footer {
    text-align: right;
    margin: 10px;
}

.img-windows {
    width: 100%;
    height: 60%;
    padding: 10%;
}

a:link {
    color: rgb(29, 184, 176);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(111, 47, 170);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 179);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(109, 24, 112);
    background-color: transparent;
    text-decoration: underline;
}